/* Style for the whole page. */
body {
  margin: 40px auto;
  padding: 20px;
  max-width: 650px;
  line-height: 1.6;
  font-family: 'Droid Sans', 'DejaVu Sans', 'Tahoma', 'Verdana', sans-serif;
  font-size: 24px;
  color: #444;
}

/* Fix font size on tiny screens. */
@media only screen and (max-width: 650px) {
  body { font-size: 14px; }
}

/* Alternatives seen by screen readers and computers only. */
.visually-hidden {
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  left: -99999px;
}

/* Some niceties: */
a { color: #e08010; text-decoration: none; }
a:hover { color: #f09020; }
cite { font-style: normal; }
h1, h2, h3 { line-height: 1.2; }
.pointers { padding-left: 1em; }
.pointers > p { display: list-item; }

/* Definitions */
dfn { font-style: normal; font-weight: bold; }
aside.definitions { font-size: 14px; opacity: 0.7; text-align: right; }
aside.definitions dt { display: inline; }
aside.definitions dt ~ dt::before { content: "\A"; white-space: pre-wrap; }
aside.definitions dt::after { content: ": "; }
aside.definitions dd { display: inline; margin-inline-start: 0; margin: 0; }
