<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lynn">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta property="og:title" content="lynn's house">
    <meta name="description" content="look!! a strange bug">
    <title>lynn's house</title>
  </head>
  <body>
    <header>
      <h1>lynn's house</h1>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
