<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lynn">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="alternate" type="application/rss+xml" title="lynn's house" href="/feed.xml">
    <meta property="og:title" content="lynn's house">
    <meta name="description" content="look!! a strange bug">
    <title>lynn's house</title>
  </head>
  <body>
    <header>
      <h1>lynn's house <svg width="40" height="40" viewBox="0 0 20 20" stroke=black fill=transparent><path d="M3 9L5 3L7 7Q9 7 9 4L11 7Q14 7 14 3L 16 9 M5 8h2q1 0 0 3 q-1 0 0 -3 M11 8h2q1 0 0 3 q-1 0 0 -3 M9 14h2 M4,13Q5,15 9,17 L 15,15a2,2,0,0,0,1,-4"/><path d="M2 2l1 1l-1 1l-1 -1Z M17 5l2 2m0 -2l-2 2 M2 15h2m-1-1v2 M14 17l1 1l-1 1l-1 -1Z M17 17h2m-1-1v2"/></svg></h1>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
